body{
    margin: 0px;
}
.header{
    display: flex;
    width: 100%;
    height: 50px;
    background-color: transparent;
}
.header img{
    cursor: pointer;
}
.headmid{
    display: flex;
    color: #aaaa;
    padding-top: 10px;
    align-items: baseline;


}
.headend{
    display: flex;
    color: #aaaa;
    padding-top: 10px;
    padding-left: 800px
    

}
#headd{
    padding-right: 20px;
    cursor: pointer;
    color: black;
    padding-top: 10.5px;

}

.section1{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: aquamarine;
    
}
.section1 img{
    width: 100%;
    height: 600px;
    cursor: pointer;

}
.sec1button{
    position:absolute;
    top: 350px;
    left: 850px;
    font-size: 21px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #fff;
    border-color: black;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color .15s,color.15s;


}
.sec1button:hover{
    background-color: black;
    color: white;

}

.section2{
    position: relative;
    width: 100%;
    height: 600px;
    background-color: rgb(227, 237, 30);

}
.sec2head1{
    position: absolute;
    top: 100px;
    left: 250px;
    font-size: 55px;



}
.sec2head2{
    position: absolute;
    top: 150px;
    left: 250px;
    font-size: 40px;


}
.sec2para1{
    position: absolute;
    left: 250px;
    bottom: 310px;
    font-size: 25px;
}
.sec2para2{
    position: absolute;
    left: 250px;
    bottom: 280px;
    font-size: 25px;
}
.sec2button1{
    position: absolute;
    left:250px;
    bottom: 250px;
    font-size: 21px;
    padding-left: 17px;
    padding-right: 17px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color:black;
    border-color: #fff;
    border-radius: 17px;
    cursor: pointer;
    color: white;
    transition: background-color .15s,color.15s;


}
.sec2button1:hover{
    background-color:#fff;
    color:black;

}

.section3{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: transparent;

}
.subsection1{
    width: 50%;
    height: 500px;
    background-color: chartreuse;
    background-image: url(mi images/M3.jpg);
    background-size: cover;
    
}

.subsec3head1{

    margin-top: 40px;
    text-align: center;
    font-size: 35px;
}
.subsec3para1{
    text-align: center;
    font-size: 20px;

}
.subsec3para2{
    text-align: center;
    font-size: 20px;
}
.subsec3para3{
    text-align: center;
    font-size: 20px;
    color: orange;
    cursor: pointer;
   
}
.subsec3para3:hover{
    color: brown;
}

.subsection2{
    width: 50%;
    height: 500px;
    background-image: url(mi images/MI3.jpg);
    background-size: cover;
    background-color: rgb(23, 192, 214);
}


.subsec3head2{

    margin-top: 40px;
    text-align: center;
    font-size: 35px;
}
.subsec3para4{
    text-align: center;
    font-size: 20px;

}
.subsec3para5{
    text-align: center;
    font-size: 20px;
}
.subsec3para6{
    text-align: center;
    font-size: 20px;
    color: orange;
    cursor: pointer;
   
}
.subsec3para6:hover{
    color: brown;
}




.section4{
    display: flex;
    width: 100%;
    height: 500px;
    background-color: transparent;
}
.subsec1{
    width: 50%;
    height:500px ;
    background-color:#fff;
    background-image: url(mi images/33d21f3ab9a5a6e2cbfb50aaf385e89e.webp);
    background-size: cover;
}
#sec4subsec1head{
    margin-top: 40px;
    text-align: center;
    font-size: 35px;

}
#sec4subsec1para1{
    
    font-size: 20px;
    color: orange;
    cursor: pointer;
    margin-left: 300px;

}




.subsec2{
    width: 25%;
    height:500px ;
    background-color: rgb(179, 34, 34);
    background-image: url(mi images/misec3.webp);
    background-size: cover;
}
#sec4subsec2head1{
    margin-top: 40px;
    text-align: center;
    font-size: 35px;


}

#sec4subsec2para1{
    text-align: center;
    font-size: 20px;

}
#sec4subsec2para2{
    text-align: center;
    font-size: 20px;
    color: orange;
    cursor: pointer;
}

.subsec3{
    width: 25%;
    height:500px ;
    background-color: rgb(43, 205, 10);
    background-image: url(mi images/img21-1.webp);
    background-size: cover;
}
#sec4subsec3head1{
    margin-top: 40px;
    text-align: center;
    font-size: 35px;

}
#sec4subsec3para1{
    text-align: center;
    font-size: 20px;

}
#sec4subsec3para2{
    text-align: center;
    font-size: 20px;
    color: orange;
    cursor: pointer;

}

.footer{
    display: flex;
    width: 100%;
    height: 300px;
    background-color: black;
}
.left1{
    width: 20%;
    height: 100%;
    background-color: black;
    color: rgb(255, 253, 253);
    margin-left: 25px;
    cursor: pointer;
}
.left2{
    width: 20%;
    height: 100%;
    background-color: black;
    color: rgb(255, 253, 253);
    margin-left: 25px;
    cursor: pointer;
}
.left3{
    width: 20%;
    height: 100%;
    background-color: black;
    color: rgb(255, 253, 253);
    margin-left: 25px;
    cursor: pointer;
}
.left4{
    width: 20%;
    height: 100%;
    background-color: black;
    color: rgb(255, 253, 253);
    margin-left: 25px;
    
}
.right1{
    width: 20%;
    height: 100%;
    color: rgb(255, 253, 253);
    margin-left: 20px;


}
.icons{
    display: flex;
}
#icon{
    padding: 5px;
    cursor: pointer;
    
}



